<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<h1>Exercise</h1>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <table class="table">
      <th class="active"><%=@exercise.name%></th>
      <tr class="active"><td>Reps: <%=@exercise.repetition%></td></tr>
      <tr class="active"><td>Sets: <%=@exercise.sets%></td></tr>
      <tr class="active"><td>Weight: <%=@exercise.weight%></td></tr>
      <tr class="active"><td>Notes: <%=@exercise.notes%></td></tr>
    </table>
  </div>
</div>

<div class="buttons">
  <button type="button" class="btn btn-primary">
    <a href="/exercises/<%=@exercise.id%>/edit">Edit</a></button>
  <button type="button" class="btn btn-primary">
    <a href="/exercises">View Program</a></button>
  </div>

  <br></br>

  <form action="/exercises/<%= @exercise.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input  id="delete" type="submit" value="Delete Exercise">
  </form>
