<!-- show 1 exercise -->
<h1>Exercise</h1>
<h2>Exercise name: <%=@exercise.name%></h2>
<p>Reps= <%=@exercise.repetition%></p>
<p>Sets= <%=@exercise.sets%></p>

<form action="/exercises/<%=@exercise.id%>/delete" method="POST">
  <input  id="delete" type="submit" value="Delete">
</form>
<a href="/exercises/<%=@exercise.id%>/edit">Edit Exercise</a>
