<!-- show 1 exercise -->
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1>Exercise</h1>
<h2>Exercise name: <%=@exercise.name%></h2>
<p>Reps= <%=@exercise.repetition%></p>
<p>Sets= <%=@exercise.sets%></p>

<a href="/exercises/<%=@exercise.id%>/edit">Edit Exercise</a>
<a href="/exercises">View Program</a>
<br>
</br>
<form action="/exercises/<%= @exercise.id %>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">
<input  id="delete" type="submit" value="Delete Exercise">
</form>
